* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.checkoff-container {
    /* border: 2px solid red; */
    margin: 1em;
}

.headings {
    /* border: 2px dotted green; */
    display: flex;
}

.checkboxes {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
}

.desc-heading,
.desc {
    width: 200px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.desc input {
    font-size: 16px;
    width: 150px;
    border: none;
}

#months-container {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.month,
.check {
    /* border: 2px solid green; */
    text-align: center;
    font-size: 14px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.month {
}

.check input {
    transform: scale(2);
}

.checks-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.desc input:focus {
    background-color: yellow;
}






@media screen and (max-width: 550px) {
    .check input {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 450px) {
    .check input {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 380px) {
    .check input {
        transform: scale(1);
    }
}