* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    /* min-width: 700px; */
    background-color: rgb(221, 221, 221);
}

.container {
    margin: 1em;
    padding: 1em;
    border: 4px solid gray;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px gray;
    overflow-x: auto;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form div {
    margin: 0 0 1em 0;
}

#header {
    --autosave-width: 200px;

    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: calc(50% - calc(var(--autosave-width) / 2));
    width: var(--autosave-width);
    height: 40px;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px gray;
    transition: opacity 1s;
}

.checkoff-container {
    /* border: 2px solid red; */
    margin: 1em;
    min-width: 750px;
}

.headings {
    /* border: 2px dotted green; */
    display: flex;
}

.checkboxes {
    display: flex;
    flex-flow: column nowrap;
}

.row,
.rowx {
    display: flex;
    margin-bottom: 5px;
}

.desc {
    position: sticky;
    left: 15px;
    z-index: 2;
}

.desc-heading,
.desc,
.descx {
    width: 200px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.desc input,
.descx input {
    font-size: 16px;
    width: 150px;
    border: none;
}

.payee {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-shadow: 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white, 0 0 10px white, 0 0 10px white;
}

#months-container {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.complete {
    color: #ffffff;
    background-color: rgb(0, 184, 24);
}

.month,
.check,
.checkx {
    /* border: 2px solid green; */
    text-align: center;
    font-size: 14px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.checkxb {
    font-weight: bold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkxb:hover {
    color: white;
    background-color: rgb(149, 120, 255);
}

.checkxb:active {
    color: white;
    background-color: black;
}

.month {
}

.check input,
.checkx input {
    transform: scale(2);
}

.checks-container,
.checks-containerx {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}


.desc input:focus {
    background-color: yellow;
}

.delete-row {
    opacity: 0;
    font-weight: bold;
    transform: translateY(-2px) translateX(-5px);
    cursor: pointer;
}

.row:hover .delete-row {
    opacity: 1;
}












@media screen and (max-width: 750px) {
    .main-container {
        /* min-width: 750px; */
    }
}


@media screen and (max-width: 550px) {
    /* .check input,
    .checkx input {
        transform: scale(1.5);
    } */

    /* .checkxb {
        transform: scale(.7);
    } */
}

@media screen and (max-width: 450px) {
    /* .check input,
    .checkx input {
        transform: scale(1.2);
    } */
}

@media screen and (max-width: 380px) {
    /* .check input,
    .checkx input {
        transform: scale(1);
    } */
}